**/dist
**/node_modules
**/.DS_Store

vietuni/firefox/src/_locales
vietuni/firefox/src/icons
vietuni/firefox/src/scripts
vietuni/firefox/src/popup.css
vietuni/firefox/src/popup.html

avim/firefox/src/_locales
avim/firefox/src/icons
avim/firefox/src/scripts/background.js
avim/firefox/src/scripts/content.js
avim/firefox/src/scripts/popup.js
avim/firefox/src/popup.css
avim/firefox/src/popup.html
